<title>Database Table Row Data</title>
<component-property name="dbName" type="string" required example="app"></component-property>
<component-property name="tableName" type="string" required example="users"></component-property>
<component-property name="primaryKey" type="string" example="id"></component-property>
<component-property name="writable" type="boolean" example="true"></component-property>

<db-table-rows
  .dbName=${dbName}
  .tableName=${tableName}
  .primaryKey=${primaryKey}
  .writable=${writable}
></db-table-rows>
