<title>Edit — ${dbName}.${tableName} #${id}</title>
<component-property name="dbName" type="string" required example="app"></component-property>
<component-property name="tableName" type="string" required example="users"></component-property>
<component-property name="id" type="string" required example="1"></component-property>

<data-source
  request="getRow"
  db-name=${dbName}
  table-name=${tableName}
  id=${id}
>
  <data-form>
    <button data-operation=updateRow>Save</button>
  </data-form>
</data-source>
